html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    scrollbar-width: none;
  }

#three-container {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
  }

.overlay-content {
    z-index: 1;
    color: white;
    text-align: center;
    padding-top: 20vh;
    font-size: 2rem;
  }
