.marquee-text {
    overflow: clip;
    font-size: clamp(3rem, 7vw, 7rem);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.marquee-text-track {
    display: flex;
    padding-left: 4.8rem;
    width: max-content;
    animation: marquee-move-text var(--speed, 30s) linear infinite var(--direction, normal);
}

.slow {
    --speed: 35s;
}

.slower {
    --speed: 40s;
}

.backwards {
    --direction: reverse;
}

.backwards-slow {
    --direction: reverse;
    --speed: 35s;
}



.marquee-text p {
    padding: 0rem 2.5rem;
    margin: 0;
    margin-block: 0;
}

@keyframes marquee-move-text {
    to {
        transform: translateX(-50%);
    }
}