.marquee-text {
    overflow: clip;
}

.marquee-text-track {
    display: flex;
    gap: 4.8rem;
    padding-left: 4.8rem;
    width: max-content;
    animation: marquee-move-text var(--speed, 10s) linear infinite var(--direction, normal);
}

.slow {
    --speed: 12s;
}

.slower {
    --speed: 15s;
}

.backwards {
    --direction: reverse;
}

.backwards-slow {
    --direction: reverse;
    --speed: 12s;
}



.marquee-text p {
    padding: 1rem 2.5rem;
}

@keyframes marquee-move-text {
    to {
        transform: translateX(-50%);
    }
}