.Header {
    display: flex;
    flex-direction: row;

    background-color: lightgray;
}

.Header #Links {
    width:50%;
    display:flex;
    justify-content: right;
    align-items: center;
}

.Header #Links img{
    width: 2em;
    height: 2em;
    padding: 0.5em 0.5em;
}

.Header #Home {
    height:100%;
    width:50%;
    display:flex;
    justify-content: left;
    align-items: center;
}

.Header #Home a {
    width: auto;
    height: auto;
    font-size: x-large;
    text-align: center;
    padding: 1.25% 5%;
    transition: all 100ms;
}

.Header #Home a:hover {
    font-size: xx-large;
    transition: all 100ms;
}