

.Header #Links {
    width:50%;
    justify-content: center;
}

.Header #Links img{
    width: 2em;
    height: 2em;
    padding: 0.5em 0.5em;
}

.Header #Home {
    height:100%;
    width:50%;
}

.Header #Home a {
    width: 2em;
    height: 2em;
    font-size: 2em;
}