.Header {
    display: flex;
    flex-direction: row;

    background-color: lightgray;
}

.Header #Links img{
    width: 2em;
    height: 2em;
    padding: 0.5em 0.5em;
}

.Header #Home {
    height:100%;
    width:50%;
    display:flex;
    justify-content: left;
    align-items: center;
}

.Header #Home a {
    width: auto;
    height: auto;
    font-size: 200%;
    text-align: center;
    padding: 1.25% 5%;
    transition: all 75ms;
}

.Header #Home a:hover {
    font-size: 250%;
    transition: all 75ms;
}

.Header #Links {
    width:30%;
    padding:20% 0% 0% 0%;
    display:flex;
    justify-content: right;
    align-items: center;
}