html, body {
  margin: 0;
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color:inherit;
}

.Pages {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.Page {
  height:90vh;
  height:90dvh;
  padding-top: 10vh;
  padding-top: 10dvh;
  width:100%;
  flex:1;
  display: flex;
  scroll-snap-align: start;
}

