body {
  margin: 0;
}

:root {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
  overflow-y: hidden;
}

:root a{
  text-decoration: none;
}



.Page {
  height:100vh;
  width:100%;
  flex:1;
  display: flex;
  flex-direction: column;
}

