.MenuLinks {
    height: 100%;
    width: 50%;
    border-radius: 50% 0% 50% 0%;
    display: flex;
    flex-direction: column;
}

.MenuLinks a {
    width: 75%;
    height: 20%;
    font-size: 80%;
}

.PicOfMe {
    min-width: 300px;
    min-height: 300px;

    border-radius: 50%;
}

.PicOfMe img{
    border-radius: 50%;

    min-width: 300px;
    min-height: 300px;
}